/*css para toda a pagina de exibição do quizz*/
.exibicao-quizz{
    width: 100%;
    height: 100%;
    margin: 69px auto 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA;
    min-width:375px;
    padding-bottom: 38px;
}
/*css para o topo do quizz quizz*/
.imagem-topo{
    width: 100%;
    min-width: 375px;
    height: 142px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    background-position: center center;
}
.imagem-topo h1{
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
}
/*css para renderização das perguntas(incluindo título, e respostas )*/
.exibicao-perguntas{
    width: 100%;
    min-width: 375px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.exibicao-pergunta,.resultado-do-quizz{
    width: 375px;
    background-color: white;
    padding: 18px;
    margin-top: 28px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*css para o título da pergunta*/
.titulo-pergunta, .titulo-do-resultado{
    width: 100%;
    height: 89px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    margin-bottom: 13px;
}
.titulo-pergunta p, .titulo-do-resultado p{
    font-weight:700;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
}
/*css para as respostas das perguntas*/
.respostas-pergunta{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.resposta-pergunta{
    width: 163px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 13px;
    transition: all linear 0.3s;
}
.resposta-pergunta img{
    width: 163px;
    height: 113px;
}
.resposta-pergunta p{
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    margin-top: 6px;
}
/*css para resultado do quizz*/
.resultado-do-quizz{
    overflow: hidden;
}
.titulo-do-resultado{
    background-color: #EC362D;
}
.resultado-do-quizz img{
    width: 340px;
    margin-bottom: 9px;
}
strong{
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    color: #484848;
    text-align: start;
}
/*css para pos-navegação*/
.pos-navegacao-quizz{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reiniciar-quizz{
    width: 220px;
    height: 44px;
    background-color:#EC362D;
    border-radius: 15px;
    line-height: 21px;
    font-size: 18px;
    color: #FFF5F4;
    margin: 34px 0px 8px 0px;
}
.voltar-para-homequizz{
    color: #818181;
    line-height: 21px;
    font-size: 18px;
    background-color: transparent;
    width: 220px;
    height: 44px;
    margin: 0;
}
/*css de controle*/
.diminuir-opacidade{
    opacity: 0.3;
}
/*hover*/
.resposta-pergunta:hover{
    cursor: pointer;
    background-color: #dadada;
}

@media (min-width: 1100px){
    .exibicao-pergunta,.resultado-do-quizz{
        width: 759px;
        padding: 28px;
        margin-top: 42px;
    }
    .resultado-do-quizz{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    .exibicao-quizz{
        min-width: unset;
    }
    .imagem-topo{
        height: 227px;
    }
    .imagem-topo h1{
        font-size: 39px;
        line-height: 46px;
    }

    .titulo-pergunta, .titulo-do-resultado{
        height: 138px;
        margin-bottom: 18px;
    }
    .titulo-pergunta p, .titulo-do-resultado p{
        font-size: 23px;
        line-height: 27px;
    }
    .resposta-pergunta{
        width: 330px;
    }
    .resposta-pergunta img{
        width: 330px;
        height: 175px;
    }
    .resposta-pergunta p{
        font-size: 20px;
        line-height: 23px;
    }
    .resultado-do-quizz img{
        width: 364px;
    }
    .texto-resultado{
        min-height: 40px;
        max-width: 328px;
        overflow: hidden;
    }
}